html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
  font-family:"Dancing Script",Serif;
  font-weight: normal;
}

:root{
  --shadow:#00ab2c;
  --btn1:#f77696;
  --b1:#e7396f;
  --c1:rgba(247, 118, 150,0.3);
  --btn2:#5abae6;
  --b2:#2459b4;
  --c2:rgba(90, 186, 230,0.3);
  --btn3:#ffcd00;
  --b3:#dab610;
  --c3:rgba(255, 205, 0,0.3);
  --btn4:#6fc346;
  --b4:#21713a;
  --c4:rgba(111, 195, 70,0.3);
  --kage:1px 1px 1px black;
  --koime:1px 1px 1px black,-1px 1px 1px black,1px -1px 1px black,-1px -1px 1px black,1px 0px 1px black,0px 1px 1px black,-1px 0px 1px black,0px -1px 1px black;
}

*{box-sizing: border-box;}
body{
  background-image: url(image/豊食祭.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: aliceblue;
  color: snow;
}
header{
  text-align: center;
  text-shadow: 1px 1px 5px var(--shadow),2px 2px 3px var(--shadow),-1px -1px 5px var(--shadow),2px 2px 3px var(--shadow);
}
p,a{display: inline-block;}
.br{padding-left: 20px;}
a{text-decoration: none;}
ul{list-style: none;}
.select ul{
  display: flex;
  flex-wrap: wrap;
}
.select li:nth-child(4n+1){
  width: calc(20% - 2px);
}
/*.select li:nth-child(4n+1):hover{
  width: 20%;
}*/
.select li{
  margin: 5px 10px;
  text-align: center;
  width: calc((100% - (20% + 10px*8))/3 - 2px);
}
.btn{
  border-radius: 3px;
  /*padding: 3px;*/
  width: 80%;
  text-shadow: var(--koime);
  box-shadow: 3px 3px black;
  border: 1px solid;
  color: snow;
}
.btn1{background-color: var(--btn1);}
.btn1:hover{color: var(--btn1);}
.btn2{background-color: var(--btn2);}
.btn2:hover{color: var(--btn2);}
.btn3{background-color: var(--btn3);}
.btn3:hover{color: var(--btn3);}
.btn4{background-color: var(--btn4);}
.btn4:hover{color: var(--btn4);}
.btn:hover{
  background-color: snow;
  /*padding: 4px 3px;*/
  box-shadow: -3px -3px transparent;
  border: none;
}/*
.btn:nth-child(4n+1):hover{
  color: snow;
  box-shadow: 3px 3px black;
  border: 1px solid;
  padding: 3px;
}*/

/*チェックボックス内容*/
input[type="checkbox"], .lesson .ad, .ad5
{display: none;}
.ps .image{
  overflow: hidden;
  height: 0;
}
.switch:checked + .image{height: auto;}
.training:checked + .ad{display: inline-block;}
.debut4:not(:checked) + .ad5{display: none;}

.icon{
  height: 50px;
  width: 50px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  opacity: 0.75;
}
.ps{
  display: flex;
  flex-wrap: wrap;
}
.menu-icon{
  display: block;
  cursor: pointer;
}
.yasai{
  height: 20px;
  width: 20px;
}
.title, .picture{
  display: flex;
  flex-wrap: nowrap;/*
  text-shadow: var(--kage);*/
}
.junior-season{color: var(--b1);}
.classic-season{color: var(--b2);}
.senior-season{color: var(--b3);}
#ura{color: var(--b4);}

.lesson ol{margin-left: 30px;}
.senior-season{text-shadow: var(--kage);}
.lesson .mini{font-size: 12px;}
.attention, .summer, .lesson li{
  color: black;
  text-shadow: none;
}
.mark{
  height: 13.5px;
  width: 13.5px;
}
.photo{width: 50%;}
footer{height: 50px;}
.ok{color: red;}
.ng, .blue{color: blue;}
.green{color: #28a959;}
.orange{color: #cf4436;font-weight: bold;}
#ura h4{font-weight: bold;}
@media screen and (max-width:768px){
  body{
    font-size: 13.5px;
    background-image: none;
  }/*
  main{
    background-image: url(image/背景.jpg);
    background-size: 100%;
    background-repeat: repeat;
  }*/
  header{
    width: 100%;
    margin: 0;
    background-image: url(image/背景画像.jpg);
    background-size: 100% 100%;
  }
  .br{display: block;}
  .btn{width: 95%;}
  .select{padding-bottom: 10px;}
  .select li{
    width: calc((100% - (100%/6 + 5px*8))/3/* - 2px*/);
    margin: 5px;
  }
  .select li:nth-child(4n+1){
    width: calc(100%/6);
  }
  /*.select li:nth-child(4n+1):hover{width: calc(100%/6);}*/
  .ps p{
    line-height: 1.5;
    font-size: 14px;
    color: black;
    text-shadow: none;
  }
  .icon{
    height: 30px;
    width: 30px;
  }
  .lesson, .summer{margin-left: 5px;}
  .lesson ol, .info{margin-left: 15px;}
  .junior-season{background-color: var(--c1);}
  .classic-season{background-color: var(--c2);}
  .senior-season{background-color: var(--c3);}
  #ura{background-color: var(--c4);}
  .b{display: none;}.space{display: block;}
}
.image3{width: 100%;}
@media screen and (max-width:480px) {
  .b{display: inline-block;}.space{display: none;}
  .summer{margin-left: 0;}
}