html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
  font-family: YakuHanJP,Roboto,"Zen Kaku Gothic New",sans-serif;
  font-weight: 500;
  line-height: 1;
}

:root{
    --m-special:#ee6dcb;
    --s-special:#ffdef9;
    --m-suzuka:#29bd70;
    --s-suzuka:#ffce48;
    --m-teio:#3376d2;
    --s-teio:#ff99d0;
    --m-maruzen:#ea504a;
    --s-maruzen:#ffcd00;
    --m-fuji:#444745;
    --s-fuji:#33b839;
    --m-oguri:#3a7ad2;
    --s-oguri:#ece7e7;
    --m-gold:#da3c57;
    --s-gold:#e9da36;
    --m-vodka:#d4c200;
    --s-vodka:#3dd1d7;
    --m-dasuka:#4f64d8;
    --s-dasuka:#e73472;
    --m-taiki:#73c032;
    --s-taiki:#ffac42;
    --m-grass:#3a34ac;
    --s-grass:#e3493f;
    --m-amazon:#2185d0;
    --s-amazon:#e6453a;
    --m-mcqueen:#00b5be;
    --s-mcqueen:#dfc8e7;
    --m-el:#dd4e31;
    --s-el:#efdb28;
    --m-opera:#f271c4;
    --s-opera:#fbe415;
    --m-brian:#75358c;
    --s-brian:#d638a3;
    --m-rudolf:#1c7763;
    --s-rudolf:#c6314b;
    --m-groove:#0092cb;
    --s-groove:#fae053;
    --m-digital:#f37f96;
    --s-digital:#f9f189;
    --m-sky:#65d283;
    --s-sky:#f4da40;
    --m-tama:#3290d6;
    --s-tama:#c6dae7;
    --m-fine:#20a95c;
    --s-fine:#ee5340;
    --m-biwa:#b03d81;
    --s-biwa:#e776b6;
    --m-mayano:#f57d38;
    --s-mayano:#ffc845;
    --m-cafe:#494541;
    --s-cafe:#e8dd4c;
    --m-bourbon:#ee60a1;
    --s-bourbon:#f0ed41;
    --m-ryan:#14baae;
    --s-ryan:#7c4d3a;
    --m-bono:#208bcd;
    --s-bono:#fa6f8b;
    --m-yukino:#af7e51;
    --s-yukino:#c8d8eb;
    --m-rice:#384a86;
    --s-rice:#ca3e6d;
    --m-ines:#f078c5;
    --s-ines:#54ae1b;
    --m-tachyon:#35b2b6;
    --s-tachyon:#e2e868;
    --m-vega:#3865a1;
    --s-vega:#78d5e1;
    --m-inari:#ae419e;
    --s-inari:#ec86d0;
    --m-ticket:#dd3d5b;
    --s-ticket:#ede233;
    --m-syaka:#2459b4;
    --s-syaka:#e1e000;
    --m-flash:#3d3b3a;
    --s-flash:#e33067;
    --m-karen:#f86669;
    --s-karen:#47423e;
    --m-princess:#e146a7;
    --s-princess:#00c7b1;
    --m-city:#245099;
    --s-city:#e63c5c;
    --m-baku:#ee6fab;
    --s-baku:#f2d4d7;
    --m-pearl:#b02d40;
    --s-pearl:#1690d4;
    --m-windy:#63666a;
    --s-windy:#6f2678;
    --m-sweep:#926dda;
    --s-sweep:#bc204b;
    --m-creek:#5693da;
    --s-creek:#c8c9c7;
    --m-falcon:#f8587b;
    --s-falcon:#403a35;
    --m-robroy:#5f9b26;
    --s-robroy:#f3ea5d;
    --m-jordan:#25b8ae;
    --s-jordan:#1c57b9;
    --m-festa:#c0453f;
    --s-festa:#236192;
    --m-taisin:#e575ce;
    --s-taisin:#f3dd6d;
    --m-flower:#e26ecb;
    --s-flower:#f6eb61;
    --m-urara:#fa7395;
    --s-urara:#ede04b;
    --m-bamboo:#366965;
    --s-bamboo:#2d2926;
    --m-biko:#e7396f;
    --s-biko:#d162b8;
    --m-sunday:#ca46b0;
    --s-sunday:#b52542;
    --m-fuku:#3d89e9;
    --s-fuku:#f8a717;
    --m-mrcb:#6fc346;
    --s-mrcb:#fbe122;
    --m-doto:#46449b;
    --s-doto:#d64388;
    --m-dober:#19b49e;
    --s-dober:#6f3b42;
    --m-nature:#28a959;
    --s-nature:#b82720;
    --m-king:#0e9451;
    --s-king:#1c57a5;
    --m-matitan:#0f8dce;
    --s-matitan:#ee5b56;
    --m-ikuno:#49b73f;
    --s-ikuno:#c6d1d5;
    --m-palmer:#27c79c;
    --s-palmer:#865432;
    --m-helios:#5b64d5;
    --s-helios:#fbe247;
    --m-turbo:#1985d2;
    --s-turbo:#27b784;
    --m-diamond:#94bf01;
    --s-diamond:#f9eb39;
    --m-kita:#5a6065;
    --s-kita:#fc6d31;
    --m-tiyo:#f9879d;
    --s-tiyo:#f7dde2;
    --m-sirius:#248379;
    --s-sirius:#e3628c;
    --m-ardan:#28baa5;
    --s-ardan:#bfe4eb;
    --m-yaeno:#da483a;
    --s-yaeno:#ffda93;
    --m-turu:#8f4dac;
    --s-turu:#f5cd47;
    --m-bright:#45c5c1;
    --s-bright:#9f5f54;
    --m-tact:#79c6db;
    --s-tact:#6c5953;
    --m-laurel:#f0638a;
    --s-laurel:#fecdc9;
    --m-topro:#ea5bc0;
    --s-topro:#8f3d7d;
    --m-zephyr:#5192c1;
    --s-zephyr:#ae4544;
    --m-furi:#3f54bf;
    --s-furi:#dd3543;
    --m-tran:#13a9b0;
    --s-tran:#f8475f;
    --m-espoir:#d93842;
    --s-espoir:#293aab;
    --m-flight:#ca3b61;
    --s-flight:#32b5d6;
    --m-kris:#12762f;
    --s-kris:#292d45;
    --m-gimlet:#dab610;
    --s-gimlet:#173061;
    --m-ruby:#d2445d;
    --s-ruby:#6946a9;
    --m-ramonu:#4bb6af;
    --s-ramonu:#3c5161;
    --m-machan:#cf4436;
    --s-machan:#e1dccb;
    --m-crown:#21713a;
    --s-crown:#f3f19d;
    --m-cheval:#64c3c1;
    --s-cheval:#1e3872;
    --m-verx:#4747cc;
    --s-verx:#84c6e7;
    --m-viv:#404fb1;
    --s-viv:#84d4e3;
    --m-dantu:#e97d97;
    --s-dantu:#119d76;
    --m-ks:#85aae1;
    --s-ks:#ebd64a;
    --m-pock:#6ac43c;
    --s-pock:#e6d734;
    --m-reason:#cb243e;
    --s-reason:#9ad2f5;
    --m-still:#d83a43;
    --s-still:#6fbbf1;
    --m-ricky:#eeb42a;
    --s-ricky:#d93c49;
    --m-tarumae:#d94149;
    --s-tarumae:#cddee0;
    --m-acute:#d85081;
    --s-acute:#d8d2d9;
    --m-big:#3dc3c2;
    --s-big:#f0688e;
    --m-earth:#ca4640;
    --s-earth:#305991;
    --m-royce:#e69a22;
    --s-royce:#cc382e;
    --m-ace:#7db0e0;
    --s-ace:#f77696;
    --m-neo:#5abae6;
    --s-neo:#f8db55;
    --m-miracle:#4a71b2;
    --s-miracle:#bdd1e9;
    --m-tap:#d44853;
    --s-tap:#4840ad;
    --m-dura:#bf3344;
    --s-dura:#4e4e4e;
    --m-kraft:#f15b75;
    --s-kraft:#2c9679;
    --m-cesario:#948eab;
    --s-cesario:#0a3874;
    --m-messiah:#2c2f9d;
    --s-messiah:#fffd8c;
    --m-heart:#d0ba00;
    --s-heart:#38312b;
    --m-orfe:#be4134;
    --s-orfe:#ecd898;
    --m-donna:#cf2f2b;
    --s-donna:#533c3d;
    --m-vari:#c1213c;
    --s-vari:#bad7f4;
    --m-dream:#332d1f;
    --s-dream:#e6e08a;
    --m-vista:#c0af3b;
    --s-vista:#583d3e;
    --m-believe:#4baece;
    --s-believe:#c63663;
    --m-light:#131b4c;
    --s-light:#f7eb49;
    --m-duran:#efa605;
    --s-duran:#d22630;
    --m-bubble:#e5bd00;
    --s-bubble:#0047bb;
    --m-pandora:#fd637f;
    --s-pandora:#fbd872;
    --m-chitose:#FA83CB;
    --s-chitose:#D8C8D1;
    --m-blast:#009CBD;
    --s-blast:#0CB85F;
    --m-meno:#574a74;
    --s-meno:#f4db4e;
    --m-eye:#69a9e9;
    --s-eye:#cc3300;
    --m-lilac:#454152;
    --s-lilac:#907594;
    --m-gran:#53565a;
    --s-gran:#ef4d60;
    --m-loves:#424840;
    --s-loves:#268745;
    --m-chrono:#464647;
    --s-chrono:#50a19f;
    --m-bouqe:#8e8180;
    --s-bouqe:#473d3c;
    --m-stay:#bfb33e;
    --s-stay:#49699c;
    --m-red:#cb3a43;
    --s-red:#802f2d;
    --m-kiseki:#2c9c46;
    --s-kiseki:#c8dbe9;
    --m-young:#822b4a;
    --s-young:#d8ced2;
    --m-marche:#8b1538;
    --s-marche:#e9a2b2;
    --m-epi:#17af87;
    --s-epi:#d0dee8;
    --m-logo:#7e2d40;
    --s-logo:#bd9b60;
    --m-pisa:#4146b8;
    --s-pisa:#f1eb9d;
    --m-rose:#cb363d;
    --s-rose:#52606b;
    --m-ruler:#beab08;
    --s-ruler:#3a4c5c;
    --m-title:#4ea547;
    --s-title:#ebe367;
    --m-aroove:#344d99;
    --s-aroove:#5cbac8;
}
/*  --m-df:;
    --s-df:;
*/
*{box-sizing: border-box;}

body{background-color: lavender;}
main{
    width: 83.3333333333vw;
    margin: 0 auto;
}
input[type="checkbox"], .m-cv{display: none;}
.checkbox:checked + .m-cv{display: inline-block;}
.chara
/*外枠*/{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 1.8229166667vw -.7291666667vw 0;
    position: relative;
}
.list
/*外枠(サブカラー)*/
{
    height: 17.1875vw;
    width: 10.6770833333vw;
    margin: 0 .7291666667vw 3.125vw;
    content: "";
    display: block;
}
.box
/*キャラ枠*/{
    height: 16.7708333333vw;
    width: 10.2604166667vw;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
}
.top
/*キャラ絵・サイド部分*/{
    display: flex;
    position: relative;
    top: 0;
    flex-direction: row;
    height: 13.4375vw;
}
.box img
/*キャラ絵*/{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top .image{
    z-index: 2;
}
.bg
/*背景*/{
    display: flex;
    position: absolute;
    width: 100%;
}
.bgc
/*背景色*/{
    height: 11.71875vw;
    width: 8.4895833333vw;
}
.bg .side
/*サイド・英語名*/{
    writing-mode: vertical-rl;
    margin-top: .4166666667vw;
    font-size: 1.09375vw;
    display: flex;
    text-align: center;
    font-weight: 700;
    font-family:"Dancing Script",Serif;
    font-style: italic;
}
.bottom
/*下部分*/{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding-left: .78125vw;
    margin-left: 0;
    justify-content: center;
}
.bottom::before
/*スペース*/{
    width: .3645833333vw;
    height: 100%;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}
.name
/*キャラ名*/{
    align-content: center;
    font-size: 1.0416666667vw;
    font-weight: 700;
    letter-spacing: -.05em;
}
.cv
/*CV*/{
    font-size: .8854166667vw;
    color: #505050;
    margin-top: .204166667vw;
    height: 1em;
    font-family: "kiwi maru";
}
.s-cv{
    margin-left: .1em;
    margin-right: .1em;
    letter-spacing: .05em;
}

/*special*/
.special .list{
    background-color: var(--s-special);
}
.special .box{
    border: 1px solid var(--m-special);
}
.special .bgc, .special .bottom::before{
    background-color: var(--m-special);
}
.special .side{
    color: var(--m-special);
}
.special .bottom{
    border-top: 1px solid var(--s-special);
}
/*suzuka*/
.suzuka .list{
    background-color: var(--s-suzuka);
}
.suzuka .box{
    border: 1px solid var(--m-suzuka);
}
.suzuka .bgc, .suzuka .bottom::before{
    background-color: var(--m-suzuka);
}
.suzuka .side{
    color: var(--m-suzuka);
}
.suzuka .bottom{
    border-top: 1px solid var(--s-suzuka);
}
/*teio*/
.teio .list{
    background-color: var(--s-teio);
}
.teio .box{
    border: 1px solid var(--m-teio);
}
.teio .bgc, .teio .bottom::before{
    background-color: var(--m-teio);
}
.teio .side{
    color: var(--m-teio);
}
.teio .bottom{
    border-top: 1px solid var(--s-teio);
}
/*maruzen*/
.maruzen .list{
    background-color: var(--s-maruzen);
}
.maruzen .box{
    border: 1px solid var(--m-maruzen);
}
.maruzen .bgc, .maruzen .bottom::before{
    background-color: var(--m-maruzen);
}
.maruzen .side{
    color: var(--m-maruzen);
}
.maruzen .bottom{
    border-top: 1px solid var(--s-maruzen);
}
/*fuji*/
.fuji .list{
    background-color: var(--s-fuji);
}
.fuji .box{
    border: 1px solid var(--m-fuji);
}
.fuji .bgc, .fuji .bottom::before{
    background-color: var(--m-fuji);
}
.fuji .side{
    color: var(--m-fuji);
}
.fuji .bottom{
    border-top: 1px solid var(--s-fuji);
}
/*oguri*/
.oguri .list{
    background-color: var(--s-oguri);
}
.oguri .box{
    border: 1px solid var(--m-oguri);
}
.oguri .bgc, .oguri .bottom::before{
    background-color: var(--m-oguri);
}
.oguri .side{
    color: var(--m-oguri);
}
.oguri .bottom{
    border-top: 1px solid var(--s-oguri);
}
/*gold*/
.gold .list{
    background-color: var(--s-gold);
}
.gold .box{
    border: 1px solid var(--m-gold);
}
.gold .bgc, .gold .bottom::before{
    background-color: var(--m-gold);
}
.gold .side{
    color: var(--m-gold);
}
.gold .bottom{
    border-top: 1px solid var(--s-gold);
}
/*vodka*/
.vodka .list{
    background-color: var(--s-vodka);
}
.vodka .box{
    border: 1px solid var(--m-vodka);
}
.vodka .bgc, .vodka .bottom::before{
    background-color: var(--m-vodka);
}
.vodka .side{
    color: var(--m-vodka);
}
.vodka .bottom{
    border-top: 1px solid var(--s-vodka);
}
/*dasuka*/
.dasuka .list{
    background-color: var(--s-dasuka);
}
.dasuka .box{
    border: 1px solid var(--m-dasuka);
}
.dasuka .bgc, .dasuka .bottom::before{
    background-color: var(--m-dasuka);
}
.dasuka .side{
    color: var(--m-dasuka);
}
.dasuka .bottom{
    border-top: 1px solid var(--s-dasuka);
}
/*taiki*/
.taiki .list{
    background-color: var(--s-taiki);
}
.taiki .box{
    border: 1px solid var(--m-taiki);
}
.taiki .bgc, .taiki .bottom::before{
    background-color: var(--m-taiki);
}
.taiki .side{
    color: var(--m-taiki);
}
.taiki .bottom{
    border-top: 1px solid var(--s-taiki);
}
/*grass*/
.grass .list{
    background-color: var(--s-grass);
}
.grass .box{
    border: 1px solid var(--m-grass);
}
.grass .bgc, .grass .bottom::before{
    background-color: var(--m-grass);
}
.grass .side{
    color: var(--m-grass);
}
.grass .bottom{
    border-top: 1px solid var(--s-grass);
}
/*amazon*/
.amazon .list{
    background-color: var(--s-amazon);
}
.amazon .box{
    border: 1px solid var(--m-amazon);
}
.amazon .bgc, .amazon .bottom::before{
    background-color: var(--m-amazon);
}
.amazon .side{
    color: var(--m-amazon);
}
.amazon .bottom{
    border-top: 1px solid var(--s-amazon);
}
/*mcqueen*/
.mcqueen .list{
    background-color: var(--s-mcqueen);
}
.mcqueen .box{
    border: 1px solid var(--m-mcqueen);
}
.mcqueen .bgc, .mcqueen .bottom::before{
    background-color: var(--m-mcqueen);
}
.mcqueen .side{
    color: var(--m-mcqueen);
}
.mcqueen .bottom{
    border-top: 1px solid var(--s-mcqueen);
}
/*el*/
.el .list{
    background-color: var(--s-el);
}
.el .box{
    border: 1px solid var(--m-el);
}
.el .bgc, .el .bottom::before{
    background-color: var(--m-el);
}
.el .side{
    color: var(--m-el);
}
.el .bottom{
    border-top: 1px solid var(--s-el);
}
/*opera*/
.opera .list{
    background-color: var(--s-opera);
}
.opera .box{
    border: 1px solid var(--m-opera);
}
.opera .bgc, .opera .bottom::before{
    background-color: var(--m-opera);
}
.opera .side{
    color: var(--m-opera);
}
.opera .bottom{
    border-top: 1px solid var(--s-opera);
}
/*brian*/
.brian .list{
    background-color: var(--s-brian);
}
.brian .box{
    border: 1px solid var(--m-brian);
}
.brian .bgc, .brian .bottom::before{
    background-color: var(--m-brian);
}
.brian .side{
    color: var(--m-brian);
}
.brian .bottom{
    border-top: 1px solid var(--s-brian);
}
/*rudolf*/
.rudolf .list{
    background-color: var(--s-rudolf);
}
.rudolf .box{
    border: 1px solid var(--m-rudolf);
}
.rudolf .bgc, .rudolf .bottom::before{
    background-color: var(--m-rudolf);
}
.rudolf .side{
    color: var(--m-rudolf);
}
.rudolf .bottom{
    border-top: 1px solid var(--s-rudolf);
}
/*groove*/
.groove .list{
    background-color: var(--s-groove);
}
.groove .box{
    border: 1px solid var(--m-groove);
}
.groove .bgc, .groove .bottom::before{
    background-color: var(--m-groove);
}
.groove .side{
    color: var(--m-groove);
}
.groove .bottom{
    border-top: 1px solid var(--s-groove);
}
/*digital*/
.digital .list{
    background-color: var(--s-digital);
}
.digital .box{
    border: 1px solid var(--m-digital);
}
.digital .bgc, .digital .bottom::before{
    background-color: var(--m-digital);
}
.digital .side{
    color: var(--m-digital);
}
.digital .bottom{
    border-top: 1px solid var(--s-digital);
}
/*sky*/
.sky .list{
    background-color: var(--s-sky);
}
.sky .box{
    border: 1px solid var(--m-sky);
}
.sky .bgc, .sky .bottom::before{
    background-color: var(--m-sky);
}
.sky .side{
    color: var(--m-sky);
}
.sky .bottom{
    border-top: 1px solid var(--s-sky);
}
/*tama*/
.tama .list{
    background-color: var(--s-tama);
}
.tama .box{
    border: 1px solid var(--m-tama);
}
.tama .bgc, .tama .bottom::before{
    background-color: var(--m-tama);
}
.tama .side{
    color: var(--m-tama);
}
.tama .bottom{
    border-top: 1px solid var(--s-tama);
}
/*fine*/
.fine .list{
    background-color: var(--s-fine);
}
.fine .box{
    border: 1px solid var(--m-fine);
}
.fine .bgc, .fine .bottom::before{
    background-color: var(--m-fine);
}
.fine .side{
    color: var(--m-fine);
}
.fine .bottom{
    border-top: 1px solid var(--s-fine);
}
/*biwa*/
.biwa .list{
    background-color: var(--s-biwa);
}
.biwa .box{
    border: 1px solid var(--m-biwa);
}
.biwa .bgc, .biwa .bottom::before{
    background-color: var(--m-biwa);
}
.biwa .side{
    color: var(--m-biwa);
}
.biwa .bottom{
    border-top: 1px solid var(--s-biwa);
}
/*mayano*/
.mayano .list{
    background-color: var(--s-mayano);
}
.mayano .box{
    border: 1px solid var(--m-mayano);
}
.mayano .bgc, .mayano .bottom::before{
    background-color: var(--m-mayano);
}
.mayano .side{
    color: var(--m-mayano);
}
.mayano .bottom{
    border-top: 1px solid var(--s-mayano);
}
/*cafe*/
.cafe .list{
    background-color: var(--s-cafe);
}
.cafe .box{
    border: 1px solid var(--m-cafe);
}
.cafe .bgc, .cafe .bottom::before{
    background-color: var(--m-cafe);
}
.cafe .side{
    color: var(--m-cafe);
}
.cafe .bottom{
    border-top: 1px solid var(--s-cafe);
}
/*bourbon*/
.bourbon .list{
    background-color: var(--s-bourbon);
}
.bourbon .box{
    border: 1px solid var(--m-bourbon);
}
.bourbon .bgc, .bourbon .bottom::before{
    background-color: var(--m-bourbon);
}
.bourbon .side{
    color: var(--m-bourbon);
}
.bourbon .bottom{
    border-top: 1px solid var(--s-bourbon);
}
/*ryan*/
.ryan .list{
    background-color: var(--s-ryan);
}
.ryan .box{
    border: 1px solid var(--m-ryan);
}
.ryan .bgc, .ryan .bottom::before{
    background-color: var(--m-ryan);
}
.ryan .side{
    color: var(--m-ryan);
}
.ryan .bottom{
    border-top: 1px solid var(--s-ryan);
}
/*bono*/
.bono .list{
    background-color: var(--s-bono);
}
.bono .box{
    border: 1px solid var(--m-bono);
}
.bono .bgc, .bono .bottom::before{
    background-color: var(--m-bono);
}
.bono .side{
    color: var(--m-bono);
}
.bono .bottom{
    border-top: 1px solid var(--s-bono);
}
/*yukino*/
.yukino .list{
    background-color: var(--s-yukino);
}
.yukino .box{
    border: 1px solid var(--m-yukino);
}
.yukino .bgc, .yukino .bottom::before{
    background-color: var(--m-yukino);
}
.yukino .side{
    color: var(--m-yukino);
}
.yukino .bottom{
    border-top: 1px solid var(--s-yukino);
}
/*rice*/
.rice .list{
    background-color: var(--s-rice);
}
.rice .box{
    border: 1px solid var(--m-rice);
}
.rice .bgc, .rice .bottom::before{
    background-color: var(--m-rice);
}
.rice .side{
    color: var(--m-rice);
}
.rice .bottom{
    border-top: 1px solid var(--s-rice);
}
/*ines*/
.ines .list{
    background-color: var(--s-ines);
}
.ines .box{
    border: 1px solid var(--m-ines);
}
.ines .bgc, .ines .bottom::before{
    background-color: var(--m-ines);
}
.ines .side{
    color: var(--m-ines);
}
.ines .bottom{
    border-top: 1px solid var(--s-ines);
}
/*tachyon*/
.tachyon .list{
    background-color: var(--s-tachyon);
}
.tachyon .box{
    border: 1px solid var(--m-tachyon);
}
.tachyon .bgc, .tachyon .bottom::before{
    background-color: var(--m-tachyon);
}
.tachyon .side{
    color: var(--m-tachyon);
}
.tachyon .bottom{
    border-top: 1px solid var(--s-tachyon);
}
/*vega*/
.vega .list{
    background-color: var(--s-vega);
}
.vega .box{
    border: 1px solid var(--m-vega);
}
.vega .bgc, .vega .bottom::before{
    background-color: var(--m-vega);
}
.vega .side{
    color: var(--m-vega);
}
.vega .bottom{
    border-top: 1px solid var(--s-vega);
}
/*inari*/
.inari .list{
    background-color: var(--s-inari);
}
.inari .box{
    border: 1px solid var(--m-inari);
}
.inari .bgc, .inari .bottom::before{
    background-color: var(--m-inari);
}
.inari .side{
    color: var(--m-inari);
}
.inari .bottom{
    border-top: 1px solid var(--s-inari);
}
/*ticket*/
.ticket .list{
    background-color: var(--s-ticket);
}
.ticket .box{
    border: 1px solid var(--m-ticket);
}
.ticket .bgc, .ticket .bottom::before{
    background-color: var(--m-ticket);
}
.ticket .side{
    color: var(--m-ticket);
}
.ticket .bottom{
    border-top: 1px solid var(--s-ticket);
}
/*syaka*/
.syaka .list{
    background-color: var(--s-syaka);
}
.syaka .box{
    border: 1px solid var(--m-syaka);
}
.syaka .bgc, .syaka .bottom::before{
    background-color: var(--m-syaka);
}
.syaka .side{
    color: var(--m-syaka);
}
.syaka .bottom{
    border-top: 1px solid var(--s-syaka);
}
/*flash*/
.flash .list{
    background-color: var(--s-flash);
}
.flash .box{
    border: 1px solid var(--m-flash);
}
.flash .bgc, .flash .bottom::before{
    background-color: var(--m-flash);
}
.flash .side{
    color: var(--m-flash);
}
.flash .bottom{
    border-top: 1px solid var(--s-flash);
}
/*karen*/
.karen .list{
    background-color: var(--s-karen);
}
.karen .box{
    border: 1px solid var(--m-karen);
}
.karen .bgc, .karen .bottom::before{
    background-color: var(--m-karen);
}
.karen .side{
    color: var(--m-karen);
}
.karen .bottom{
    border-top: 1px solid var(--s-karen);
}
/*princess*/
.princess .list{
    background-color: var(--s-princess);
}
.princess .box{
    border: 1px solid var(--m-princess);
}
.princess .bgc, .princess .bottom::before{
    background-color: var(--m-princess);
}
.princess .side{
    color: var(--m-princess);
}
.princess .bottom{
    border-top: 1px solid var(--s-princess);
}
/*city*/
.city .list{
    background-color: var(--s-city);
}
.city .box{
    border: 1px solid var(--m-city);
}
.city .bgc, .city .bottom::before{
    background-color: var(--m-city);
}
.city .side{
    color: var(--m-city);
}
.city .bottom{
    border-top: 1px solid var(--s-city);
}
/*baku*/
.baku .list{
    background-color: var(--s-baku);
}
.baku .box{
    border: 1px solid var(--m-baku);
}
.baku .bgc, .baku .bottom::before{
    background-color: var(--m-baku);
}
.baku .side{
    color: var(--m-baku);
}
.baku .bottom{
    border-top: 1px solid var(--s-baku);
}
/*pearl*/
.pearl .list{
    background-color: var(--s-pearl);
}
.pearl .box{
    border: 1px solid var(--m-pearl);
}
.pearl .bgc, .pearl .bottom::before{
    background-color: var(--m-pearl);
}
.pearl .side{
    color: var(--m-pearl);
}
.pearl .bottom{
    border-top: 1px solid var(--s-pearl);
}
/*windy*/
.windy .list{
    background-color: var(--s-windy);
}
.windy .box{
    border: 1px solid var(--m-windy);
}
.windy .bgc, .windy .bottom::before{
    background-color: var(--m-windy);
}
.windy .side{
    color: var(--m-windy);
}
.windy .bottom{
    border-top: 1px solid var(--s-windy);
}
/*sweep*/
.sweep .list{
    background-color: var(--s-sweep);
}
.sweep .box{
    border: 1px solid var(--m-sweep);
}
.sweep .bgc, .sweep .bottom::before{
    background-color: var(--m-sweep);
}
.sweep .side{
    color: var(--m-sweep);
}
.sweep .bottom{
    border-top: 1px solid var(--s-sweep);
}
/*creek*/
.creek .list{
    background-color: var(--s-creek);
}
.creek .box{
    border: 1px solid var(--m-creek);
}
.creek .bgc, .creek .bottom::before{
    background-color: var(--m-creek);
}
.creek .side{
    color: var(--m-creek);
}
.creek .bottom{
    border-top: 1px solid var(--s-creek);
}
/*falcon*/
.falcon .list{
    background-color: var(--s-falcon);
}
.falcon .box{
    border: 1px solid var(--m-falcon);
}
.falcon .bgc, .falcon .bottom::before{
    background-color: var(--m-falcon);
}
.falcon .side{
    color: var(--m-falcon);
}
.falcon .bottom{
    border-top: 1px solid var(--s-falcon);
}
/*robroy*/
.robroy .list{
    background-color: var(--s-robroy);
}
.robroy .box{
    border: 1px solid var(--m-robroy);
}
.robroy .bgc, .robroy .bottom::before{
    background-color: var(--m-robroy);
}
.robroy .side{
    color: var(--m-robroy);
}
.robroy .bottom{
    border-top: 1px solid var(--s-robroy);
}
/*jordan*/
.jordan .list{
    background-color: var(--s-jordan);
}
.jordan .box{
    border: 1px solid var(--m-jordan);
}
.jordan .bgc, .jordan .bottom::before{
    background-color: var(--m-jordan);
}
.jordan .side{
    color: var(--m-jordan);
}
.jordan .bottom{
    border-top: 1px solid var(--s-jordan);
}
/*festa*/
.festa .list{
    background-color: var(--s-festa);
}
.festa .box{
    border: 1px solid var(--m-festa);
}
.festa .bgc, .festa .bottom::before{
    background-color: var(--m-festa);
}
.festa .side{
    color: var(--m-festa);
}
.festa .bottom{
    border-top: 1px solid var(--s-festa);
}
/*taisin*/
.taisin .list{
    background-color: var(--s-taisin);
}
.taisin .box{
    border: 1px solid var(--m-taisin);
}
.taisin .bgc, .taisin .bottom::before{
    background-color: var(--m-taisin);
}
.taisin .side{
    color: var(--m-taisin);
}
.taisin .bottom{
    border-top: 1px solid var(--s-taisin);
}
/*flower*/
.flower .list{
    background-color: var(--s-flower);
}
.flower .box{
    border: 1px solid var(--m-flower);
}
.flower .bgc, .flower .bottom::before{
    background-color: var(--m-flower);
}
.flower .side{
    color: var(--m-flower);
}
.flower .bottom{
    border-top: 1px solid var(--s-flower);
}
/*urara*/
.urara .list{
    background-color: var(--s-urara);
}
.urara .box{
    border: 1px solid var(--m-urara);
}
.urara .bgc, .urara .bottom::before{
    background-color: var(--m-urara);
}
.urara .side{
    color: var(--m-urara);
}
.urara .bottom{
    border-top: 1px solid var(--s-urara);
}
/*bamboo*/
.bamboo .list{
    background-color: var(--s-bamboo);
}
.bamboo .box{
    border: 1px solid var(--m-bamboo);
}
.bamboo .bgc, .bamboo .bottom::before{
    background-color: var(--m-bamboo);
}
.bamboo .side{
    color: var(--m-bamboo);
}
.bamboo .bottom{
    border-top: 1px solid var(--s-bamboo);
}
/*biko*/
.biko .list{
    background-color: var(--s-biko);
}
.biko .box{
    border: 1px solid var(--m-biko);
}
.biko .bgc, .biko .bottom::before{
    background-color: var(--m-biko);
}
.biko .side{
    color: var(--m-biko);
}
.biko .bottom{
    border-top: 1px solid var(--s-biko);
}
/*sunday*/
.sunday .list{
    background-color: var(--s-sunday);
}
.sunday .box{
    border: 1px solid var(--m-sunday);
}
.sunday .bgc, .sunday .bottom::before{
    background-color: var(--m-sunday);
}
.sunday .side{
    color: var(--m-sunday);
}
.sunday .bottom{
    border-top: 1px solid var(--s-sunday);
}
/*fuku*/
.fuku .list{
    background-color: var(--s-fuku);
}
.fuku .box{
    border: 1px solid var(--m-fuku);
}
.fuku .bgc, .fuku .bottom::before{
    background-color: var(--m-fuku);
}
.fuku .side{
    color: var(--m-fuku);
}
.fuku .bottom{
    border-top: 1px solid var(--s-fuku);
}
/*mrcb*/
.mrcb .list{
    background-color: var(--s-mrcb);
}
.mrcb .box{
    border: 1px solid var(--m-mrcb);
}
.mrcb .bgc, .mrcb .bottom::before{
    background-color: var(--m-mrcb);
}
.mrcb .side{
    color: var(--m-mrcb);
}
.mrcb .bottom{
    border-top: 1px solid var(--s-mrcb);
}
/*doto*/
.doto .list{
    background-color: var(--s-doto);
}
.doto .box{
    border: 1px solid var(--m-doto);
}
.doto .bgc, .doto .bottom::before{
    background-color: var(--m-doto);
}
.doto .side{
    color: var(--m-doto);
}
.doto .bottom{
    border-top: 1px solid var(--s-doto);
}
/*dober*/
.dober .list{
    background-color: var(--s-dober);
}
.dober .box{
    border: 1px solid var(--m-dober);
}
.dober .bgc, .dober .bottom::before{
    background-color: var(--m-dober);
}
.dober .side{
    color: var(--m-dober);
}
.dober .bottom{
    border-top: 1px solid var(--s-dober);
}
/*nature*/
.nature .list{
    background-color: var(--s-nature);
}
.nature .box{
    border: 1px solid var(--m-nature);
}
.nature .bgc, .nature .bottom::before{
    background-color: var(--m-nature);
}
.nature .side{
    color: var(--m-nature);
}
.nature .bottom{
    border-top: 1px solid var(--s-nature);
}
/*king*/
.king .list{
    background-color: var(--s-king);
}
.king .box{
    border: 1px solid var(--m-king);
}
.king .bgc, .king .bottom::before{
    background-color: var(--m-king);
}
.king .side{
    color: var(--m-king);
}
.king .bottom{
    border-top: 1px solid var(--s-king);
}
/*matitan*/
.matitan .list{
    background-color: var(--s-matitan);
}
.matitan .box{
    border: 1px solid var(--m-matitan);
}
.matitan .bgc, .matitan .bottom::before{
    background-color: var(--m-matitan);
}
.matitan .side{
    color: var(--m-matitan);
}
.matitan .bottom{
    border-top: 1px solid var(--s-matitan);
}
/*ikuno*/
.ikuno .list{
    background-color: var(--s-ikuno);
}
.ikuno .box{
    border: 1px solid var(--m-ikuno);
}
.ikuno .bgc, .ikuno .bottom::before{
    background-color: var(--m-ikuno);
}
.ikuno .side{
    color: var(--m-ikuno);
}
.ikuno .bottom{
    border-top: 1px solid var(--s-ikuno);
}
/*palmer*/
.palmer .list{
    background-color: var(--s-palmer);
}
.palmer .box{
    border: 1px solid var(--m-palmer);
}
.palmer .bgc, .palmer .bottom::before{
    background-color: var(--m-palmer);
}
.palmer .side{
    color: var(--m-palmer);
}
.palmer .bottom{
    border-top: 1px solid var(--s-palmer);
}
/*helios*/
.helios .list{
    background-color: var(--s-helios);
}
.helios .box{
    border: 1px solid var(--m-helios);
}
.helios .bgc, .helios .bottom::before{
    background-color: var(--m-helios);
}
.helios .side{
    color: var(--m-helios);
}
.helios .bottom{
    border-top: 1px solid var(--s-helios);
}
/*turbo*/
.turbo .list{
    background-color: var(--s-turbo);
}
.turbo .box{
    border: 1px solid var(--m-turbo);
}
.turbo .bgc, .turbo .bottom::before{
    background-color: var(--m-turbo);
}
.turbo .side{
    color: var(--m-turbo);
}
.turbo .bottom{
    border-top: 1px solid var(--s-turbo);
}
/*diamond*/
.diamond .list{
    background-color: var(--s-diamond);
}
.diamond .box{
    border: 1px solid var(--m-diamond);
}
.diamond .bgc, .diamond .bottom::before{
    background-color: var(--m-diamond);
}
.diamond .side{
    color: var(--m-diamond);
}
.diamond .bottom{
    border-top: 1px solid var(--s-diamond);
}
/*kita*/
.kita .list{
    background-color: var(--s-kita);
}
.kita .box{
    border: 1px solid var(--m-kita);
}
.kita .bgc, .kita .bottom::before{
    background-color: var(--m-kita);
}
.kita .side{
    color: var(--m-kita);
}
.kita .bottom{
    border-top: 1px solid var(--s-kita);
}
/*tiyo*/
.tiyo .list{
    background-color: var(--s-tiyo);
}
.tiyo .box{
    border: 1px solid var(--m-tiyo);
}
.tiyo .bgc, .tiyo .bottom::before{
    background-color: var(--m-tiyo);
}
.tiyo .side{
    color: var(--m-tiyo);
}
.tiyo .bottom{
    border-top: 1px solid var(--s-tiyo);
}
/*sirius*/
.sirius .list{
    background-color: var(--s-sirius);
}
.sirius .box{
    border: 1px solid var(--m-sirius);
}
.sirius .bgc, .sirius .bottom::before{
    background-color: var(--m-sirius);
}
.sirius .side{
    color: var(--m-sirius);
}
.sirius .bottom{
    border-top: 1px solid var(--s-sirius);
}
/*ardan*/
.ardan .list{
    background-color: var(--s-ardan);
}
.ardan .box{
    border: 1px solid var(--m-ardan);
}
.ardan .bgc, .ardan .bottom::before{
    background-color: var(--m-ardan);
}
.ardan .side{
    color: var(--m-ardan);
}
.ardan .bottom{
    border-top: 1px solid var(--s-ardan);
}
/*yaeno*/
.yaeno .list{
    background-color: var(--s-yaeno);
}
.yaeno .box{
    border: 1px solid var(--m-yaeno);
}
.yaeno .bgc, .yaeno .bottom::before{
    background-color: var(--m-yaeno);
}
.yaeno .side{
    color: var(--m-yaeno);
}
.yaeno .bottom{
    border-top: 1px solid var(--s-yaeno);
}
/*turu*/
.turu .list{
    background-color: var(--s-turu);
}
.turu .box{
    border: 1px solid var(--m-turu);
}
.turu .bgc, .turu .bottom::before{
    background-color: var(--m-turu);
}
.turu .side{
    color: var(--m-turu);
}
.turu .bottom{
    border-top: 1px solid var(--s-turu);
}
/*bright*/
.bright .list{
    background-color: var(--s-bright);
}
.bright .box{
    border: 1px solid var(--m-bright);
}
.bright .bgc, .bright .bottom::before{
    background-color: var(--m-bright);
}
.bright .side{
    color: var(--m-bright);
}
.bright .bottom{
    border-top: 1px solid var(--s-bright);
}
/*tact*/
.tact .list{
    background-color: var(--s-tact);
}
.tact .box{
    border: 1px solid var(--m-tact);
}
.tact .bgc, .tact .bottom::before{
    background-color: var(--m-tact);
}
.tact .side{
    color: var(--m-tact);
}
.tact .bottom{
    border-top: 1px solid var(--s-tact);
}
/*laurel*/
.laurel .list{
    background-color: var(--s-laurel);
}
.laurel .box{
    border: 1px solid var(--m-laurel);
}
.laurel .bgc, .laurel .bottom::before{
    background-color: var(--m-laurel);
}
.laurel .side{
    color: var(--m-laurel);
}
.laurel .bottom{
    border-top: 1px solid var(--s-laurel);
}
/*topro*/
.topro .list{
    background-color: var(--s-topro);
}
.topro .box{
    border: 1px solid var(--m-topro);
}
.topro .bgc, .topro .bottom::before{
    background-color: var(--m-topro);
}
.topro .side{
    color: var(--m-topro);
}
.topro .bottom{
    border-top: 1px solid var(--s-topro);
}
/*zephyr*/
.zephyr .list{
    background-color: var(--s-zephyr);
}
.zephyr .box{
    border: 1px solid var(--m-zephyr);
}
.zephyr .bgc, .zephyr .bottom::before{
    background-color: var(--m-zephyr);
}
.zephyr .side{
    color: var(--m-zephyr);
}
.zephyr .bottom{
    border-top: 1px solid var(--s-zephyr);
}
/*furi*/
.furi .list{
    background-color: var(--s-furi);
}
.furi .box{
    border: 1px solid var(--m-furi);
}
.furi .bgc, .furi .bottom::before{
    background-color: var(--m-furi);
}
.furi .side{
    color: var(--m-furi);
}
.furi .bottom{
    border-top: 1px solid var(--s-furi);
}
/*tran*/
.tran .list{
    background-color: var(--s-tran);
}
.tran .box{
    border: 1px solid var(--m-tran);
}
.tran .bgc, .tran .bottom::before{
    background-color: var(--m-tran);
}
.tran .side{
    color: var(--m-tran);
}
.tran .bottom{
    border-top: 1px solid var(--s-tran);
}
/*espoir*/
.espoir .list{
    background-color: var(--s-espoir);
}
.espoir .box{
    border: 1px solid var(--m-espoir);
}
.espoir .bgc, .espoir .bottom::before{
    background-color: var(--m-espoir);
}
.espoir .side{
    color: var(--m-espoir);
}
.espoir .bottom{
    border-top: 1px solid var(--s-espoir);
}
/*flight*/
.flight .list{
    background-color: var(--s-flight);
}
.flight .box{
    border: 1px solid var(--m-flight);
}
.flight .bgc, .flight .bottom::before{
    background-color: var(--m-flight);
}
.flight .side{
    color: var(--m-flight);
}
.flight .bottom{
    border-top: 1px solid var(--s-flight);
}
/*kris*/
.kris .list{
    background-color: var(--s-kris);
}
.kris .box{
    border: 1px solid var(--m-kris);
}
.kris .bgc, .kris .bottom::before{
    background-color: var(--m-kris);
}
.kris .side{
    color: var(--m-kris);
}
.kris .bottom{
    border-top: 1px solid var(--s-kris);
}
/*gimlet*/
.gimlet .list{
    background-color: var(--s-gimlet);
}
.gimlet .box{
    border: 1px solid var(--m-gimlet);
}
.gimlet .bgc, .gimlet .bottom::before{
    background-color: var(--m-gimlet);
}
.gimlet .side{
    color: var(--m-gimlet);
}
.gimlet .bottom{
    border-top: 1px solid var(--s-gimlet);
}
/*ruby*/
.ruby .list{
    background-color: var(--s-ruby);
}
.ruby .box{
    border: 1px solid var(--m-ruby);
}
.ruby .bgc, .ruby .bottom::before{
    background-color: var(--m-ruby);
}
.ruby .side{
    color: var(--m-ruby);
}
.ruby .bottom{
    border-top: 1px solid var(--s-ruby);
}
/*ramonu*/
.ramonu .list{
    background-color: var(--s-ramonu);
}
.ramonu .box{
    border: 1px solid var(--m-ramonu);
}
.ramonu .bgc, .ramonu .bottom::before{
    background-color: var(--m-ramonu);
}
.ramonu .side{
    color: var(--m-ramonu);
}
.ramonu .bottom{
    border-top: 1px solid var(--s-ramonu);
}
/*machan*/
.machan .list{
    background-color: var(--s-machan);
}
.machan .box{
    border: 1px solid var(--m-machan);
}
.machan .bgc, .machan .bottom::before{
    background-color: var(--m-machan);
}
.machan .side{
    color: var(--m-machan);
}
.machan .bottom{
    border-top: 1px solid var(--s-machan);
}
/*crown*/
.crown .list{
    background-color: var(--s-crown);
}
.crown .box{
    border: 1px solid var(--m-crown);
}
.crown .bgc, .crown .bottom::before{
    background-color: var(--m-crown);
}
.crown .side{
    color: var(--m-crown);
}
.crown .bottom{
    border-top: 1px solid var(--s-crown);
}
/*cheval*/
.cheval .list{
    background-color: var(--s-cheval);
}
.cheval .box{
    border: 1px solid var(--m-cheval);
}
.cheval .bgc, .cheval .bottom::before{
    background-color: var(--m-cheval);
}
.cheval .side{
    color: var(--m-cheval);
}
.cheval .bottom{
    border-top: 1px solid var(--s-cheval);
}
/*verx*/
.verx .list{
    background-color: var(--s-verx);
}
.verx .box{
    border: 1px solid var(--m-verx);
}
.verx .bgc, .verx .bottom::before{
    background-color: var(--m-verx);
}
.verx .side{
    color: var(--m-verx);
}
.verx .bottom{
    border-top: 1px solid var(--s-verx);
}
/*viv*/
.viv .list{
    background-color: var(--s-viv);
}
.viv .box{
    border: 1px solid var(--m-viv);
}
.viv .bgc, .viv .bottom::before{
    background-color: var(--m-viv);
}
.viv .side{
    color: var(--m-viv);
}
.viv .bottom{
    border-top: 1px solid var(--s-viv);
}
/*dantu*/
.dantu .list{
    background-color: var(--s-dantu);
}
.dantu .box{
    border: 1px solid var(--m-dantu);
}
.dantu .bgc, .dantu .bottom::before{
    background-color: var(--m-dantu);
}
.dantu .side{
    color: var(--m-dantu);
}
.dantu .bottom{
    border-top: 1px solid var(--s-dantu);
}
/*ks*/
.ks .list{
    background-color: var(--s-ks);
}
.ks .box{
    border: 1px solid var(--m-ks);
}
.ks .bgc, .ks .bottom::before{
    background-color: var(--m-ks);
}
.ks .side{
    color: var(--m-ks);
}
.ks .bottom{
    border-top: 1px solid var(--s-ks);
}
/*pock*/
.pock .list{
    background-color: var(--s-pock);
}
.pock .box{
    border: 1px solid var(--m-pock);
}
.pock .bgc, .pock .bottom::before{
    background-color: var(--m-pock);
}
.pock .side{
    color: var(--m-pock);
}
.pock .bottom{
    border-top: 1px solid var(--s-pock);
}
/*reason*/
.reason .list{
    background-color: var(--s-reason);
}
.reason .box{
    border: 1px solid var(--m-reason);
}
.reason .bgc, .reason .bottom::before{
    background-color: var(--m-reason);
}
.reason .side{
    color: var(--m-reason);
}
.reason .bottom{
    border-top: 1px solid var(--s-reason);
}
/*still*/
.still .list{
    background-color: var(--s-still);
}
.still .box{
    border: 1px solid var(--m-still);
}
.still .bgc, .still .bottom::before{
    background-color: var(--m-still);
}
.still .side{
    color: var(--m-still);
}
.still .bottom{
    border-top: 1px solid var(--s-still);
}
/*ricky*/
.ricky .list{
    background-color: var(--s-ricky);
}
.ricky .box{
    border: 1px solid var(--m-ricky);
}
.ricky .bgc, .ricky .bottom::before{
    background-color: var(--m-ricky);
}
.ricky .side{
    color: var(--m-ricky);
}
.ricky .bottom{
    border-top: 1px solid var(--s-ricky);
}
/*tarumae*/
.tarumae .list{
    background-color: var(--s-tarumae);
}
.tarumae .box{
    border: 1px solid var(--m-tarumae);
}
.tarumae .bgc, .tarumae .bottom::before{
    background-color: var(--m-tarumae);
}
.tarumae .side{
    color: var(--m-tarumae);
}
.tarumae .bottom{
    border-top: 1px solid var(--s-tarumae);
}
/*acute*/
.acute .list{
    background-color: var(--s-acute);
}
.acute .box{
    border: 1px solid var(--m-acute);
}
.acute .bgc, .acute .bottom::before{
    background-color: var(--m-acute);
}
.acute .side{
    color: var(--m-acute);
}
.acute .bottom{
    border-top: 1px solid var(--s-acute);
}
/*big*/
.big .list{
    background-color: var(--s-big);
}
.big .box{
    border: 1px solid var(--m-big);
}
.big .bgc, .big .bottom::before{
    background-color: var(--m-big);
}
.big .side{
    color: var(--m-big);
}
.big .bottom{
    border-top: 1px solid var(--s-big);
}
/*earth*/
.earth .list{
    background-color: var(--s-earth);
}
.earth .box{
    border: 1px solid var(--m-earth);
}
.earth .bgc, .earth .bottom::before{
    background-color: var(--m-earth);
}
.earth .side{
    color: var(--m-earth);
}
.earth .bottom{
    border-top: 1px solid var(--s-earth);
}
/*royce*/
.royce .list{
    background-color: var(--s-royce);
}
.royce .box{
    border: 1px solid var(--m-royce);
}
.royce .bgc, .royce .bottom::before{
    background-color: var(--m-royce);
}
.royce .side{
    color: var(--m-royce);
}
.royce .bottom{
    border-top: 1px solid var(--s-royce);
}
/*ace*/
.ace .list{
    background-color: var(--s-ace);
}
.ace .box{
    border: 1px solid var(--m-ace);
}
.ace .bgc, .ace .bottom::before{
    background-color: var(--m-ace);
}
.ace .side{
    color: var(--m-ace);
}
.ace .bottom{
    border-top: 1px solid var(--s-ace);
}
/*neo*/
.neo .list{
    background-color: var(--s-neo);
}
.neo .box{
    border: 1px solid var(--m-neo);
}
.neo .bgc, .neo .bottom::before{
    background-color: var(--m-neo);
}
.neo .side{
    color: var(--m-neo);
}
.neo .bottom{
    border-top: 1px solid var(--s-neo);
}
/*miracle*/
.miracle .list{
    background-color: var(--s-miracle);
}
.miracle .box{
    border: 1px solid var(--m-miracle);
}
.miracle .bgc, .miracle .bottom::before{
    background-color: var(--m-miracle);
}
.miracle .side{
    color: var(--m-miracle);
}
.miracle .bottom{
    border-top: 1px solid var(--s-miracle);
}
/*tap*/
.tap .list{
    background-color: var(--s-tap);
}
.tap .box{
    border: 1px solid var(--m-tap);
}
.tap .bgc, .tap .bottom::before{
    background-color: var(--m-tap);
}
.tap .side{
    color: var(--m-tap);
}
.tap .bottom{
    border-top: 1px solid var(--s-tap);
}
/*dura*/
.dura .list{
    background-color: var(--s-dura);
}
.dura .box{
    border: 1px solid var(--m-dura);
}
.dura .bgc, .dura .bottom::before{
    background-color: var(--m-dura);
}
.dura .side{
    color: var(--m-dura);
}
.dura .bottom{
    border-top: 1px solid var(--s-dura);
}
/*kraft*/
.kraft .list{
    background-color: var(--s-kraft);
}
.kraft .box{
    border: 1px solid var(--m-kraft);
}
.kraft .bgc, .kraft .bottom::before{
    background-color: var(--m-kraft);
}
.kraft .side{
    color: var(--m-kraft);
}
.kraft .bottom{
    border-top: 1px solid var(--s-kraft);
}
/*cesario*/
.cesario .list{
    background-color: var(--s-cesario);
}
.cesario .box{
    border: 1px solid var(--m-cesario);
}
.cesario .bgc, .cesario .bottom::before{
    background-color: var(--m-cesario);
}
.cesario .side{
    color: var(--m-cesario);
}
.cesario .bottom{
    border-top: 1px solid var(--s-cesario);
}
/*messiah*/
.messiah .list{
    background-color: var(--s-messiah);
}
.messiah .box{
    border: 1px solid var(--m-messiah);
}
.messiah .bgc, .messiah .bottom::before{
    background-color: var(--m-messiah);
}
.messiah .side{
    color: var(--m-messiah);
}
.messiah .bottom{
    border-top: 1px solid var(--s-messiah);
}
/*heart*/
.heart .list{
    background-color: var(--s-heart);
}
.heart .box{
    border: 1px solid var(--m-heart);
}
.heart .bgc, .heart .bottom::before{
    background-color: var(--m-heart);
}
.heart .side{
    color: var(--m-heart);
}
.heart .bottom{
    border-top: 1px solid var(--s-heart);
}
/*orfe*/
.orfe .list{
    background-color: var(--s-orfe);
}
.orfe .box{
    border: 1px solid var(--m-orfe);
}
.orfe .bgc, .orfe .bottom::before{
    background-color: var(--m-orfe);
}
.orfe .side{
    color: var(--m-orfe);
}
.orfe .bottom{
    border-top: 1px solid var(--s-orfe);
}
/*donna*/
.donna .list{
    background-color: var(--s-donna);
}
.donna .box{
    border: 1px solid var(--m-donna);
}
.donna .bgc, .donna .bottom::before{
    background-color: var(--m-donna);
}
.donna .side{
    color: var(--m-donna);
}
.donna .bottom{
    border-top: 1px solid var(--s-donna);
}
/*vari*/
.vari .list{
    background-color: var(--s-vari);
}
.vari .box{
    border: 1px solid var(--m-vari);
}
.vari .bgc, .vari .bottom::before{
    background-color: var(--m-vari);
}
.vari .side{
    color: var(--m-vari);
}
.vari .bottom{
    border-top: 1px solid var(--s-vari);
}
/*dream*/
.dream .list{
    background-color: var(--s-dream);
}
.dream .box{
    border: 1px solid var(--m-dream);
}
.dream .bgc, .dream .bottom::before{
    background-color: var(--m-dream);
}
.dream .side{
    color: var(--m-dream);
}
.dream .bottom{
    border-top: 1px solid var(--s-dream);
}
/*vista*/
.vista .list{
    background-color: var(--s-vista);
}
.vista .box{
    border: 1px solid var(--m-vista);
}
.vista .bgc, .vista .bottom::before{
    background-color: var(--m-vista);
}
.vista .side{
    color: var(--m-vista);
}
.vista .bottom{
    border-top: 1px solid var(--s-vista);
}
/*believe*/
.believe .list{
    background-color: var(--s-believe);
}
.believe .box{
    border: 1px solid var(--m-believe);
}
.believe .bgc, .believe .bottom::before{
    background-color: var(--m-believe);
}
.believe .side{
    color: var(--m-believe);
}
.believe .bottom{
    border-top: 1px solid var(--s-believe);
}
/*light*/
.light .list{
    background-color: var(--s-light);
}
.light .box{
    border: 1px solid var(--m-light);
}
.light .bgc, .light .bottom::before{
    background-color: var(--m-light);
}
.light .side{
    color: var(--m-light);
}
.light .bottom{
    border-top: 1px solid var(--s-light);
}
/*duran*/
.duran .list{
    background-color: var(--s-duran);
}
.duran .box{
    border: 1px solid var(--m-duran);
}
.duran .bgc, .duran .bottom::before{
    background-color: var(--m-duran);
}
.duran .side{
    color: var(--m-duran);
}
.duran .bottom{
    border-top: 1px solid var(--s-duran);
}
/*bubble*/
.bubble .list{
    background-color: var(--s-bubble);
}
.bubble .box{
    border: 1px solid var(--m-bubble);
}
.bubble .bgc, .bubble .bottom::before{
    background-color: var(--m-bubble);
}
.bubble .side{
    color: var(--m-bubble);
}
.bubble .bottom{
    border-top: 1px solid var(--s-bubble);
}
/*pandora*/
.pandora .list{
    background-color: var(--s-pandora);
}
.pandora .box{
    border: 1px solid var(--m-pandora);
}
.pandora .bgc, .pandora .bottom::before{
    background-color: var(--m-pandora);
}
.pandora .side{
    color: var(--m-pandora);
}
.pandora .bottom{
    border-top: 1px solid var(--s-bubble);
}
/*chitose*/
.chitose .list{
    background-color: var(--s-chitose);
}
.chitose .box{
    border: 1px solid var(--m-chitose);
}
.chitose .bgc, .chitose .bottom::before{
    background-color: var(--m-chitose);
}
.chitose .side{
    color: var(--m-chitose);
}
.chitose .bottom{
    border-top: 1px solid var(--s-chitose);
}
/*blast*/
.blast .list{
    background-color: var(--s-blast);
}
.blast .box{
    border: 1px solid var(--m-blast);
}
.blast .bgc, .blast .bottom::before{
    background-color: var(--m-blast);
}
.blast .side{
    color: var(--m-blast);
}
.blast .bottom{
    border-top: 1px solid var(--s-blast);
}
/*meno*/
.meno .list{
    background-color: var(--s-meno);
}
.meno .box{
    border: 1px solid var(--m-meno);
}
.meno .bgc, .meno .bottom::before{
    background-color: var(--m-meno);
}
.meno .side{
    color: var(--m-meno);
}
.meno .bottom{
    border-top: 1px solid var(--s-meno);
}
/*eye*/
.eye .list{
    background-color: var(--s-eye);
}
.eye .box{
    border: 1px solid var(--m-eye);
}
.eye .bgc, .eye .bottom::before{
    background-color: var(--m-eye);
}
.eye .side{
    color: var(--m-eye);
}
.eye .bottom{
    border-top: 1px solid var(--s-eye);
}
/*lilac*/
.lilac .list{
    background-color: var(--s-lilac);
}
.lilac .box{
    border: 1px solid var(--m-lilac);
}
.lilac .bgc, .lilac .bottom::before{
    background-color: var(--m-lilac);
}
.lilac .side{
    color: var(--m-lilac);
}
.lilac .bottom{
    border-top: 1px solid var(--s-lilac);
}
/*gran*/
.gran .list{
    background-color: var(--s-gran);
}
.gran .box{
    border: 1px solid var(--m-gran);
}
.gran .bgc, .gran .bottom::before{
    background-color: var(--m-gran);
}
.gran .side{
    color: var(--m-gran);
}
.gran .bottom{
    border-top: 1px solid var(--s-gran);
}
/*loves*/
.loves .list{
    background-color: var(--s-loves);
}
.loves .box{
    border: 1px solid var(--m-loves);
}
.loves .bgc, .loves .bottom::before{
    background-color: var(--m-loves);
}
.loves .side{
    color: var(--m-loves);
}
.loves .bottom{
    border-top: 1px solid var(--s-loves);
}
/*chrono*/
.chrono .list{
    background-color: var(--s-chrono);
}
.chrono .box{
    border: 1px solid var(--m-chrono);
}
.chrono .bgc, .chrono .bottom::before{
    background-color: var(--m-chrono);
}
.chrono .side{
    color: var(--m-chrono);
}
.chrono .bottom{
    border-top: 1px solid var(--s-chrono);
}
/*bouqe*/
.bouqe .list{
    background-color: var(--s-bouqe);
}
.bouqe .box{
    border: 1px solid var(--m-bouqe);
}
.bouqe .bgc, .bouqe .bottom::before{
    background-color: var(--m-bouqe);
}
.bouqe .side{
    color: var(--m-bouqe);
}
.bouqe .bottom{
    border-top: 1px solid var(--s-bouqe);
}
/*stay*/
.stay .list{
    background-color: var(--s-stay);
}
.stay .box{
    border: 1px solid var(--m-stay);
}
.stay .bgc, .stay .bottom::before{
    background-color: var(--m-stay);
}
.stay .side{
    color: var(--m-stay);
}
.stay .bottom{
    border-top: 1px solid var(--s-stay);
}

/*red*/
.red .list{
    background-color: var(--s-red);
}
.red .box{
    border: 1px solid var(--m-red);
}
.red .bgc, .red .bottom::before{
    background-color: var(--m-red);
}
.red .side{
    color: var(--m-red);
}
.red .bottom{
    border-top: 1px solid var(--s-red);
}

/*kiseki*/
.kiseki .list{
    background-color: var(--s-kiseki);
}
.kiseki .box{
    border: 1px solid var(--m-kiseki);
}
.kiseki .bgc, .kiseki .bottom::before{
    background-color: var(--m-kiseki);
}
.kiseki .side{
    color: var(--m-kiseki);
}
.kiseki .bottom{
    border-top: 1px solid var(--s-kiseki);
}

/*young*/
.young .list{
    background-color: var(--s-young);
}
.young .box{
    border: 1px solid var(--m-young);
}
.young .bgc, .young .bottom::before{
    background-color: var(--m-young);
}
.young .side{
    color: var(--m-young);
}
.young .bottom{
    border-top: 1px solid var(--s-young);
}

/*marche*/
.marche .list{
    background-color: var(--s-marche);
}
.marche .box{
    border: 1px solid var(--m-marche);
}
.marche .bgc, .marche .bottom::before{
    background-color: var(--m-marche);
}
.marche .side{
    color: var(--m-marche);
}
.marche .bottom{
    border-top: 1px solid var(--s-marche);
}

/*epi*/
.epi .list{
    background-color: var(--s-epi);
}
.epi .box{
    border: 1px solid var(--m-epi);
}
.epi .bgc, .epi .bottom::before{
    background-color: var(--m-epi);
}
.epi .side{
    color: var(--m-epi);
}
.epi .bottom{
    border-top: 1px solid var(--s-epi);
}

/*logo*/
.logo .list{
    background-color: var(--s-logo);
}
.logo .box{
    border: 1px solid var(--m-logo);
}
.logo .bgc, .logo .bottom::before{
    background-color: var(--m-logo);
}
.logo .side{
    color: var(--m-logo);
}
.logo .bottom{
    border-top: 1px solid var(--s-logo);
}

/*pisa*/
.pisa .list{
    background-color: var(--s-pisa);
}
.pisa .box{
    border: 1px solid var(--m-pisa);
}
.pisa .bgc, .pisa .bottom::before{
    background-color: var(--m-pisa);
}
.pisa .side{
    color: var(--m-pisa);
}
.pisa .bottom{
    border-top: 1px solid var(--s-pisa);
}

/*rose*/
.rose .list{
    background-color: var(--s-rose);
}
.rose .box{
    border: 1px solid var(--m-rose);
}
.rose .bgc, .rose .bottom::before{
    background-color: var(--m-rose);
}
.rose .side{
    color: var(--m-rose);
}
.rose .bottom{
    border-top: 1px solid var(--s-rose);
}

/*ruler*/
.ruler .list{
    background-color: var(--s-ruler);
}
.ruler .box{
    border: 1px solid var(--m-ruler);
}
.ruler .bgc, .ruler .bottom::before{
    background-color: var(--m-ruler);
}
.ruler .side{
    color: var(--m-ruler);
}
.ruler .bottom{
    border-top: 1px solid var(--s-ruler);
}

/*title*/
.title .list{
    background-color: var(--s-title);
}
.title .box{
    border: 1px solid var(--m-title);
}
.title .bgc, .title .bottom::before{
    background-color: var(--m-title);
}
.title .side{
    color: var(--m-title);
}
.title .bottom{
    border-top: 1px solid var(--s-title);
}

/*aroove*/
.aroove .list{
    background-color: var(--s-aroove);
}
.aroove .box{
    border: 1px solid var(--m-aroove);
}
.aroove .bgc, .aroove .bottom::before{
    background-color: var(--m-aroove);
}
.aroove .side{
    color: var(--m-aroove);
}
.aroove .bottom{
    border-top: 1px solid var(--s-aroove);
}

/*df*
.df .list{
    background-color: var(--s-df);
}
.df .box{
    border: 1px solid var(--m-df);
}
.df .bgc, .df .bottom::before{
    background-color: var(--m-df);
}
.df .side{
    color: var(--m-df);
}
.df .bottom{
    border-top: 1px solid var(--s-df);
}*/

/*レスポンシブ*/
@media screen and (max-width:768px) 
/*タブレット*/{
    main{
        width: initial;
        margin: 4vw 5.3333333333vw 0;
    }
    .chara{
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 -1.8666666667vw;
    }
    .list{
        height: 44vw;
        margin: 0 1.8666666667vw 4vw;
        width: 27.3333333333vw;
    }
    .box{
        height: 42.9333333333vw;
        width: 26.2666666667vw;
    }
    .top{
        height: 34.4vw;
    }
    .bgc{
        height: 30vw;
        width: 21.7333333333vw;
    }
    .bg .side{
        font-size: 2.8vw;
        margin-top: 1.0666666667vw;
    }
    .bottom{
        padding-left: 2vw;
    }
    .bottom::before{
        width: .9333333333vw;
    }
    .name{
        font-size: 2.6666666667vw;
    }
    .cv{
        font-size: 2.4vw;
        margin-top: .9333333333vw;
    }
}

/*@media screen and (max-width:480px) {
    .chara{width: 100%;}
    .box{
        width: calc((100% - 5px*6)/3);
        margin: 5px;
    }
    .box:nth-child(3n+1), .box:nth-child(7n+1){margin-left: 5px;}
    .box:nth-child(3n), .box:nth-child(7n){margin-right: 5px;}
    .bgc{height: 35vw;}
}*/